html,
body
{
	zoom: 90%;
	margin: 2px;
	padding: 0;
}
.title
{
	text-align: center;
	font-size: 30px;
}
.info
{
	text-align: left;
	padding-left: 30px;
	font: 18px sans-serif;
}
svg
{
	position: absolute;
	text-align: center;
	padding: 0px;
	font: 12px sans-serif;
	background: #fff;
	border: 0px;
	border-radius: 8px;
	margin-left: 0px;
}
/****************************/
/* buttons */
.buttons .skipButton.show:hover path,
.buttons .playButton:hover path
{
	fill: red;
}
.buttons .skipButton.show,
.buttons .playButton
{
	fill: white;
	stroke: black;
	stroke-width: 3px;
}
.skipButton.show rect,
.playButton rect
{
	fill: none;
	pointer-events: all;
	cursor: pointer;
	opacity: 0;
}
.buttons .skipButton.hide
{
	fill: none;
}

/****************************/
/* draw_map*/

.map .states
{
	fill:rgb(213,222,217);
	stroke-width: .6;
	stroke: #b95656;
}
/* On mouse hover, lighten state color */
.map .states:hover
{
	stroke-width: 1;
	stroke:#ff0000;
	fill-opacity: .7;
	background-color: black;
}
.map .states.hide
{
	fill:blue;
}
/***************************\
/* draw_legen() */
.legend .arcs .total_arc
{
	border: 1px solid;
	fill: #8FAAE5;
	transform-origin: left;
}
.legend .arcs .state_arc
{
	border: 1px solid;
	fill: #c7d9ff;
	transform-origin: right;
}
.legend .arcs .total_text
{
	text-align: justify;
	font-size: 170%;
	font-weight: bold;
	fill: red;
}
.legend .arcs .state_text
{
	text-align: center;
	font-size: 150%;
	font-weight: 700;
	fill: #ff3b3b;
}
.legend .notes
{
	text-align: left;
	font: 18px sans-serif;
}
/******************************/
/* animate() */
.map .add_map_dec
{
	stroke-width: 3;
	stroke:#ff0000;
}
/******************************/
/*  legend   */
.legend .buttons .typeButtons .rect,
.legend .buttons .percentageButtons .rect
{
	fill: white;
	stroke: black;
	stroke-width: 1px;
	pointer-events: all;
	cursor: pointer;
}
.legend .buttons .typeButtons .rect.clicked,
.legend .buttons .percentageButtons .rect.clicked
{
	fill: black;
}
.legend .buttons .typeButtons text,
.legend .buttons .percentageButtons text
{
	text-align: left;
	fill: black;
	font: 16px sans-serif;
}
.legend line
{
	stroke:#C0C0C0;
	stroke-width:2;
}
.legend .state_info,
.legend .summary
{
	text-align: left;
	fill: black;
	font: 16px sans-serif;
}
